{include file="common/header" /}
<body itemscope itemtype="http://schema.org/WebPage">
<div id="loading">
	<div class="cat">
		<div class="body"></div>
		<div class="head">
			<div class="face"></div>
		</div>
		<div class="foot">
			<div class="tummy-end"></div>
			<div class="bottom"></div>
			<div class="legs left"></div>
			<div class="legs right"></div>
		</div>
		<div class="paw">
			<div class="hands left"></div>
			<div class="hands right"></div>
		</div>
	</div>
</div>
<div id="container">
	<header id="header" itemscope itemtype="http://schema.org/WPHeader">
		<div class="inner">
			<div id="brand">
				<div class="pjax">
					<h1 itemprop="name headline">包含标签"{$news_mark_info.name}"的文章</h1>
				</div>
			</div>
			{include file="common/nav" /}
		</div>
		<div id="imgs" class="pjax">
			{include file="common/carousel" /}
		</div>
	</header>
	{include file="common/wave" /}
	<main>
		<div class="inner">
			<div id="main" class="pjax">
				<div class="collapse wrap">
					<h2 class="item header">
						<a href="/tag">全部</a>
						<small>/</small>
						{$news_mark_info.name}
						<small>标签</small>
					</h2>
					{foreach $news_list as $item}
					<article class="item normal" itemscope itemtype>
						<div class="meta">
							<time itemprop="dateCreated" datetime="{$item.create_at}" content="{$item.year}-{$item.month}-{$item.day}">{$item.year}-{$item.month}-{$item.day}</time>
							<span><a href="/category/{$item.category_id}">{$item.category_name|raw}</a></span>
						</div>
						<div class="title">
							<a href="/{$item.id}" itemprop="url">
								<span itemprop="name">{$item.name}</span>
							</a>
						</div>
					</article>
					{/foreach}
				</div>
				<nav class="pagination">
					<div class="inner">
						{if $current_page > 1}
						<a class="extend prev" rel="prev" href="/tag/{$tag}/{$prev_page}" data-pjax-state="">
							<i class="ic i-angle-left" aria-label="上一页"></i>
						</a>
						{/if} {foreach $list_page as $page} {if $page eq $current_page}
						<span class="page-number current">{$page}</span>
						{else}
						<a class="page-number" href="/tag/{$tag}/{$page}" data-pjax-state="">{$page}</a>
						{/if} {/foreach} {if $current_page < $total_page}
						<a class="extend next" rel="next" href="/tag/{$tag}/{$next_page}" data-pjax-state="">
							<i class="ic i-angle-right" aria-label="下一页"></i>
						</a>
						{/if}
					</div>
				</nav>
			</div>
			{include file="common/sidebar" /}
			<div class="dimmer"></div>
		</div>
	</main>
	{include file="common/footer" /}
</div>
{include file="common/js" /}
</body>
</html>