<footer id="footer">
	<div class="inner">
		<div class="status">
			<div class="copyright">
				{if !empty(sysconf('site_copy'))} {:sysconf('site_copy')} {else}
				&copy; 2020 –
				<span itemprop="copyrightYear">{:date('Y')}</span>
				<span class="with-love"><i class="ic i-star rotate"></i> </span>
				<span class="author" itemprop="copyrightHolder">{$user_info.nickname}</span>
				{/if}
			</div>
			<div class="powered-by">
				theme-source
				<span class="exturl" data-url="aHR0cHM6Ly9naXRodWIuY29tL2FtZWhpbWUvaGV4by10aGVtZS1zaG9rYQ==">Shoka</span>
				@
				<span class="exturl" data-url="aHR0cHM6Ly9zaG9rYS5sb3N0eXUubWUv">霜月琉璃</span>
			</div>
		</div>
	</div>
</footer>