<style>
	#form {
		border-radius: 0.5rem;
		border: 0.0625rem solid var(--grey-2);
		box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--box-bg-shadow);
		margin-bottom: 0.625rem;
		position: relative;
		padding: 0.625rem;
	}

	#form .friend_form_input input, #form .friend_form_button input {
		font-family: inherit;
		font-size: 100%;
		line-height: 1.15;
		margin: 0;
		color: var(--text-color);
		overflow: visible;
		border: none;
		outline: none;
		background: transparent;
		transition: all 0.25s ease;
		padding: 0.625rem 0.3125rem;
		width: 100%;
		border-bottom: 0.0625rem dashed var(--grey-4);
		text-align: center;
	}

	#form .friend_form_button input {
		width: 100%;
	}
</style>
<div class="comment">
	<form id="form">
		<div class="friend_form_input">
			<input type="text" name="site" placeholder="填写你的网站的名字" autocomplete="off">
			<input type="text" name="owner" placeholder="填写你的名字" autocomplete="off">
			<input type="text" name="url" placeholder="填写你的网址" autocomplete="off">
			<input type="text" name="desc" placeholder="填写你的简短描述" autocomplete="off">
			<input type="text" name="image" placeholder="填写你的一张图片" autocomplete="off">
			<input type="text" name="color" placeholder="填写你的方块颜色" autocomplete="off">
		</div>
		<div class="friend_form_button">
			<input type="button" value="安排一下">
		</div>
	</form>
</div>