<script data-config type="text/javascript">
	let LOCAL = {
		path: "{if isset($news_info['id'])}{$news_info.id}{/if}",
		favicon: {
			show: "这货杀了个回马枪！",
			hide: "终于走了，休息一下！"
		},
		search: {
			placeholder: "文章搜索",
			empty: "关于 「 ${query} 」，什么也没搜到",
			stats: "${time} ms 内找到 ${hits} 条结果"
		},
		valine: !0,
		fancybox: !0,
		copyright: '复制成功，转载请遵守 <i class="ic i-creative-commons"></i>BY-NC-SA 协议。',
		ignores: [
			function (e) {
				return e.includes("#")
			},
			function (e) {
				return new RegExp(LOCAL.path + "$").test(e)
			}
		]
	}
</script>
<script src="{:env('common.resource_base_url')}index/js/polyfill.js"></script>
<script src="{:env('common.resource_base_url')}index/js/pace.min.js"></script>
<script src="{:env('common.resource_base_url')}index/js/pjax.min.js"></script>
<script src="{:env('common.resource_base_url')}index/js/fetch.umd.min.js"></script>
<script src="{:env('common.resource_base_url')}index/js/anime.min.js"></script>
<script src="{:env('common.resource_base_url')}index/js/algoliasearch-lite.umd.js"></script>
<script src="{:env('common.resource_base_url')}index/js/instantsearch.production.min.js"></script>
<script src="{:env('common.resource_base_url')}index/js/lozad.min.js"></script>
<script src="{:env('common.resource_base_url')}index/js/quicklink.umd.js"></script>
<script src="{:env('common.resource_base_url')}index/js/app.js?v=0.2.5"></script>