<ul class="menu">
	<li class="item">
		<a href="/" rel="section">
			<i class="ic i-home"></i>
			首页
		</a>
	</li>
	<li class="item dropdown">
		<a href="javascript:void(0);">
			<i class="ic i-feather"></i>
			文章
		</a>
		<ul class="submenu">
			<li class="item">
				<a href="/archives" rel="section">
					<i class="ic i-list-alt"></i>
					归档
				</a>
			</li>
			<li class="item">
				<a href="/category" rel="section">
					<i class="ic i-th"></i>
					分类
				</a>
			</li>
			<li class="item">
				<a href="/tag" rel="section">
					<i class="ic i-tags"></i>
					标签
				</a>
			</li>
		</ul>
	</li>
	<li class="item">
		<a href="/friend" rel="section">
			<i class="ic i-heart"></i>
			友达
		</a>
	</li>
</ul>
